@model Movie

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Movie" asp-action="Index">Movies</a></li>
        <li class="breadcrumb-item"><a asp-controller="Movie" asp-action="Details" asp-route-id=@Model.Id>@Model.Title</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<div class="card rounded shadow p-3">
    
    <h3 class="mb-4">Edit Movie</h3>

    <form asp-action="Edit">
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <!-- we hide the id as its not user editable but needs to be in the -->
        <!-- form to ensure the student passed to the controller is complete -->    
        <input type="hidden" asp-for="Id" class="form-control"/>

        <!-- add form groups for each student attributed being edited -->

        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    
        <div class="form-group">
            <label asp-for="Director" class="control-label"></label>
            <input asp-for="Director" class="form-control"/>
            <span asp-validation-for="Director" class="text-danger"></span>
        </div>

        <!--move Age and grade input groups in 2 columns in single row -->      
        <div class="row">
            <div class="form-group col">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control"/>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>

            <div class="form-group col">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control"/>
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
    
            <div class="form-group col">
            <label asp-for="Budget" class="control-label"></label>
            <input asp-for="Budget" class="form-control"/>
            <span asp-validation-for="Budget" class="text-danger"></span>
            </div>

            <div class="form-group col">
            <label asp-for="Genre" class="control-label"></label>
            <select asp-for="Genre" class="form-control" asp-items="Html.GetEnumSelectList<Genre>()">
            <option>Select Genre</option>
            </select>
            <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
        </div>

        <!-- add PhotoUrl input group - ensure input field type is url -->
        <div class="form-group">
            <label asp-for="PosterUrl" class="control-label"></label>
            <input type="url" asp-for="PosterUrl" class="form-control"/>
            <span asp-validation-for="PosterUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Genre" class="control-label"></label>
            <select asp-for="Genre" class="form-control" asp-items="Html.GetEnumSelectList<Genre>()">
            <option>Select Genre</option>
            </select>
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Cast" class="control-label"></label>
            <input asp-for="Cast" class="form-control"/>
            <span asp-validation-for="Cast" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Plot" class="control-label"></label>
            <textarea input asp-for="Plot" class="form-control" aria-label="With textarea" rows="5"></textarea>
            <span asp-validation-for="Plot" class="text-danger"></span>
        </div>

        <!----  you can copy the necessary groups from Create.cshtml --->
        
        <!-- submit button and cancel link which navigates to Index action -->
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary"/>
            <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.Id">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}