@model IList<Movie>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Movies</li>
    </ol>
</nav>

<div class="card text shadow">
    <div class="card-header">
        <h2>Movies</h2>
    </div>
    <div class="card-body">
        <div class="row justify-content-end pb-2 mr-2">
        <a type="button" asp-controller="Movie" asp-action="Create" class="btn btn-success">Add Movie</a>
        </div>
        <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Director</th>
            <th>Year</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.Title</td>
                <td>@m.Director</td>
                <td>@m.Year</td>
                 <td>
                     <div class="pipe-separated-list-container">
                     <ul>
                    <!-- Add View link -->
                    <li><a asp-controller="Movie" asp-action="Edit" asp-route-id=@m.Id>Edit</a></li>
                    <!-- Add edit link  -->
                    <li><a asp-controller="Movie" asp-action="Details" asp-route-id=@m.Id>Details</a></li>
                    
                    <!-- Add delete link -->
                    <li><a asp-controller="Movie" asp-action="Delete" asp-route-id=@m.Id>Delete</a></li>
                    </ul>
                    </div>
                  </td>
            </tr>
        }  
    </tbody>
</table>
  </div>
</div>